.contacts {
  width: 100%;
}

.contacts__inner {
  display: flex;
  align-items: stretch;
  gap: 2rem;

  width: 100%;
  height: 100%;

  .info__item {
    width: 100%;
    max-width: 56.2rem;
  }
}

.contacts-map {
  width: 100%;
  max-width: 1140rem;
  height: auto;

  iframe {
    width: 100%;
    height: 100%;
  }
}
