.enrollee {
  .enrollee-info {
    display: flex;
    gap: 15rem;

    margin-bottom: 10rem;
  }

  .dropdown-container {
    margin-bottom: 2rem;

    .dropdown-link {
      font-size: 2.4rem;
      font-weight: 500;
    }
  }
}

.enrollee-info__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.enrollee-info__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 48.6rem;
  height: 22rem;

  padding: 2rem;

  background: #ebedf1;
  border-radius: 1rem;

  &:nth-child(2),
  &:nth-child(3) {
    p,
    a {
      color: white;
    }

    svg {
      stroke: white;
    }
  }

  &:nth-child(2) {
    background: #36456f;
  }
  &:nth-child(3) {
    background: #a6414d;
  }
}
.enrollee-info__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: 0.01em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000015;
  }

  svg {
    width: 4.5rem;
    height: 4.5rem;

    fill: none;
    stroke: #36456f;
  }
}
.enrollee-info__descr {
}
